[user]
    name = yenanw
    email = 54945977+yenanw@users.noreply.github.com

[init]
    defaultBranch = main

[core]
    editor = vim
    autocrlf = input

[color]
    ui = auto

[push]
    default = simple
    autoSetupRemote = true

[pull]
    rebase = false

[fetch]
    prune = true

[diff]
    algorithm = histogram

[merge]
    conflictStyle = zdiff3

[rerere]
    enabled = true

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    lg = log --graph --decorate --oneline --all

[credential "https://github.com"]
    helper =
    helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
    helper =
    helper = !/usr/bin/gh auth git-credential
