[user]
    name = yenanw
    email = 54945977+yenanw@users.noreply.github.com
    # remember to change this if public key is changed
    signingkey = ~/.ssh/id_ed25519_asus.pub

[init]
    defaultBranch = main

[core]
    editor = vim
    autocrlf = input

[color]
    ui = auto

[commit]
    gpgsign = true

[tag]
    gpgSign = true

[push]
    default = simple
    autoSetupRemote = true

[pull]
    rebase = false

[fetch]
    prune = true

[diff]
    algorithm = histogram

[merge]
    conflictStyle = zdiff3

[rerere]
    enabled = true

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    lg = log --graph --decorate --oneline --all

[credential]
    helper = store

[credential "https://github.com"]
    helper =
    helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
    helper =
    helper = !/usr/bin/gh auth git-credential

[gpg]
    format = ssh